<!-- Footer Section Start -->
<container>
  <row>
    <columns large="2"></columns>
    <columns large="8">
      <spacer size="90"></spacer>
      <row>
        <columns>
          <img src="{{root}}/assets/img/footer-image.png" alt="Peach colored rectangle">
        </columns>
      </row>
      <row>
        <columns>
          <spacer size="60"></spacer>
          <h3>Thank you for your Time.</h3>
          <spacer size="43"></spacer>
          <button>Buy Me!</button>
          <spacer size="38"></spacer>
          <row>
            <columns>
              <p>Copyright &copy; Our Company.</p>
            </columns>
            <columns>
              <img src="{{root}}/assets/img/footer-mail-icon.png" alt="Open envelope icon">
              <spacer size="13"></spacer>
              <p>unsubscribe</p>
            </columns>
            <columns>
              <menu>
                <item href="#">
                  <img src="{{root}}/assets/img/footer-facebook-icon.png" alt="Facebook icon">
                </item>
                <item href="#">
                  <img src="{{root}}/assets/img/footer-twitter-icon.png" alt="Twitter icon">
                </item>
                <item href="#">
                  <img src="{{root}}/assets/img/footer-linkedin-icon.png" alt="LinkedIn icon">
                </item>
                <item href="#">
                  <img src="{{root}}/assets/img/footer-pinterest-icon.png" alt="Pinterest icon">
                </item>
                <item href="#">
                  <img src="{{root}}/assets/img/footer-vimeo-icon.png" alt="Vimeo icon">
                </item>
              </menu>
            </columns>
          </row>
        </columns>
      </row>
      <spacer size="58"></spacer>
    </columns>
    <columns large="2"></columns>
  </row>
</container>
<!-- Footer Section End -->