<!-- Footer Section Start -->
<container>
  <row>
    <columns></columns>
    <columns>
      <row>
        <columns>
          <img>
        </columns>
      </row>
      <row>
        <columns>
          <h3></h3>
          <button></button>
          <row>
            <columns>
              <p></p>
            </columns>
            <columns>
              <img>
              <p></p>
            </columns>
            <columns>
              <img>
              <img>
              <img>
              <img>
              <img>
            </columns>
          </row>
        </columns>
      </row>
    </columns>
    <columns></columns>
  </row>
</container>
<!-- Footer Section End -->