<!-- Footer Section Start -->
<container>
  <!-- Top Footer Section Start -->
  <row class="top-footer">
    <columns small="1" large="2"></columns>
    <columns small="10" large="8">
      <spacer size="90"></spacer>
      <row class="top-footer">
        <columns>
          <img class="text-center" src="{{root}}/assets/img/footer-image.png" alt="Peach colored rectangle">
        </columns>
      </row>
    </columns>
    <columns small="1" large="2"></columns>
  </row>
  <!-- Top Footer Section End -->
  <!-- Bottom Footer Section Start-->
  <row class="bottom-footer">
    <columns small="1" large="2"></columns>
    <columns small="10" large="8">
      <row>
        <columns small="12" large="8">
          <spacer size="60"></spacer>
          <h3 class="text-center">Thank you for your Time.</h3>
          <spacer size="43"></spacer>
          <center>
            <button href="#">Buy Me!</button>
          </center>
          <spacer size="38"></spacer>
          <row>
            <columns valign="bottom" large="4">
              <p class="small-text-center">Copyright &copy; Our Company.</p>
              <spacer size="29"></spacer>
            </columns>
            <columns large="2">
              <img class="text-center" src="{{root}}/assets/img/footer-mail-icon.png" alt="Open envelope icon">
              <spacer size="13"></spacer>
              <p class="text-center unsubscribe">unsubscribe</p>
              <spacer size="29"></spacer>
            </columns>
            <columns valign="bottom" large="4">
              <row>
                <columns small="3" large="4"></columns>
                <columns small="8" large="8">
                  <menu>
                    <item href="#">
                      <img class="float-right" src="{{root}}/assets/img/footer-facebook-icon.png" alt="Facebook icon">
                    </item>
                    <item href="#">
                      <img class="float-right" src="{{root}}/assets/img/footer-twitter-icon.png" alt="Twitter icon">
                    </item>
                    <item href="#">
                      <img class="float-right" src="{{root}}/assets/img/footer-linkedin-icon.png" alt="LinkedIn icon">
                    </item>
                    <item href="#">
                      <img class="float-right" src="{{root}}/assets/img/footer-pinterest-icon.png" alt="Pinterest icon">
                    </item>
                    <item href="#">
                      <img class="float-right" src="{{root}}/assets/img/footer-vimeo-icon.png" alt="Vimeo icon">
                    </item>
                  </menu>
                </columns>
              </row>
              <spacer size="29"></spacer>
            </columns>
          </row>
          <spacer size="29"></spacer>
        </columns>
      </row>
    </columns>
    <columns small="1" large="2"></columns>
  </row>
  <!-- Bottom Footer Section End -->
</container>
<!-- Footer Section End -->