<!-- Header Section -->
<container>
  <!-- North Header Section -->
  <row class="north-header">
    <columns small="12" large="2"></columns>
    <columns small="12" large="8">
      <spacer size="20"></spacer>
      <row>
        <columns small="6" large="9">
          <h1 class="small-text-center">Mason</h1>
        </columns>
        <columns small="6" large="3">
          <menu>
            <item href="#"><img src="{{root}}/assets/img/facebook.png" class="nav-facebook-icon" alt="Facebook icon"></item>
            <item href="#"><img src="{{root}}/assets/img/twitter.png" class="nav-twitter-icon" alt="Twitter icon"></item>
            <item href="#">Visit my blog</item>
          </menu>
        </columns>
      </row>
      <spacer size="12"></spacer>
    </columns>
    <columns small="12" large="2"></columns>
  </row>
  <!-- End of North Header Section -->
  <!-- South Header Section -->
  <row>
    <columns large="2"></columns>
    <columns large="4">
      <h2></h2>
      <p></p>
      <button href="#"></button>
    </columns>
    <columns large="4">
      <img>
    </columns>
    <columns large="2"></columns>
  </row>
  <!-- End of North Header Section -->
</container>