<!-- Header Section -->
<container>
    <!-- North Header Section -->
    <row>
      <columns></columns>
      <columns large="10">
        <row>
          <columns>
            <h1>Mason</h1>
          </columns>
          <columns>
            <menu>
              <item href="#"><img src="{{root}}/assets/img/facebook.png" alt="Facebook icon"></item>
              <item href="#"><img src="{{root}}/assets/img/twitter.png" alt="Twitter icon"></item>
              <item href="#">Visit my blog</item>
            </menu>
          </columns>
        </row>
      </columns>
      <columns></columns>
    </row>
  </container>